@import 'vars';
@import 'global';
@import 'fonts';
.header__top {
    background-color: $bg;
}

.header__top-inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    .header__content-link {
        text-align: center;
        width: 140px;
        margin-left: auto;
        margin-right: 48px;
        background-color: $blue;
        border-radius: 25px;
        a {
            padding: 11px 16px;
            color: #fff;
            font-size: 14px;
        }
    }
    .user__btn {
        display: none;
        position: absolute;
        &::before {
            font-family: 'Linearicons-Free';
            color: $blue;
            font-size: 40px;
        }
    }
    .header__content-user {
        margin-left: 20px;
        font-weight: 500;
        line-height: 22px;
        font-size: 16px;
        color: #333333;
        span {
            display: block;
            color: #0674ec;
            font-weight: 400;
        }
    }
    .message-menu,
    .notification-menu {
        background-color: #fff;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        z-index: 2;
        top: 62px;
        left: -24px;
        position: absolute;
        width: 400px;
        height: 0;
        overflow: hidden;
        .message-menu__top,
        .notification-menu__top {
            line-height: 28px;
            transition: all .4s;
            display: flex;
            justify-content: space-between;
            padding: 18px 25px;
            padding: 0px 25px;
        }
        .message-menu__title,
        .notification-menu__title {
            font-size: 18px;
        }
        .message-menu__view,
        .notification-menu__view {
            a {
                color: $blue;
            }
        }
        .message-menu__item {
            height: 80px;
            border-bottom: 1px solid #e8ebf0;
        }
        .notification-menu__item {
            transition: all .4s;
            border-top: 1px solid #e8ebf0;
            padding: 0 25px;
            display: flex;
        }
        .message-menu__image,
        .notification-menu__image {
            float: left;
            min-width: 40px;
            height: 40px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            margin-right: 15px;
            margin-top: 5px;
        }
        .notification-menu__content {
            line-height: 22px;
            position: relative;
            color: #747a86;
            &::before {
                font-family: 'Linearicons-Free';
                position: absolute;
                right: 0;
                top: 21px;
                width: 32px;
                line-height: 32px;
                border-radius: 50%;
                text-align: center;
            }
            a {
                color: $blue;
            }
        }
        .notification-favourite {
            &::before {
                content: '\e813';
                background-color: #e6f1fd;
                color: $blue;
            }
        }
        .notification-comment {
            &::before {
                content: '\e83f';
                background-color: #f1ecf9;
                color: #7b52c5;
            }
        }
        .notification-purchase {
            &::before {
                content: '\e82e';
                background-color: #fff0f0;
                color: #ff6a6c;
            }
        }
        .notification-menu__name {
            margin-right: 6px;
            span {
                font-size: 14px;
                color: $blue;
                float: right;
            }
            a {
                margin-left: 6px;
            }
        }
        .message-menu__name,
        .notification-menu__name {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #000;
        }
        .message-menu__date,
        .notification-menu__date {
            color: #747a86;
        }
        .notification-menu__date {
            margin-top: 8px;
            font-size: 14px;
            line-height: 18px;
            display: block;
        }
        .message-menu__text {
            height: 30px;
            line-height: 30px;
            max-width: 230px;
            overflow: hidden;
        }
    }
    .cart-menu {
        position: absolute;
        top: 62px;
        right: -54px;
        width: 400px;
        z-index: 2;
        height: 0;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        overflow: hidden;
        .cart-item {
            transition: all .4s;
            background-color: #fff;
            padding: 0 25px;
            border-bottom: 1px solid #e8ebf0;
            .cart-item__inner {
                display: flex;
                .cart-item__image {
                    width: 80px;
                    height: 70px;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    margin-right: 15px;
                }
                .cart-item__info {
                    width: 205px;
                    .cart-item__title {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 22px;
                        margin-bottom: 17px;
                    }
                    .cart-item__plugin {
                        padding-left: 21px;
                        color: #7347c1;
                        position: relative;
                        &::before {
                            content: '';
                            position: absolute;
                            background-image: url(../images/slider/wordpress.png);
                            width: 16px;
                            height: 16px;
                            left: 0;
                        }
                    }
                }
                .cart-item__bottom {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .lnr-trash {
                        font-family: 'Linearicons-Free';
                        color: #818c98;
                        background-color: #f0ebf8;
                        border-radius: 50%;
                        width: 32px;
                        height: 32px;
                        border: none;
                        outline: none;
                        cursor: pointer;
                    }
                    .cart-item__price {
                        padding: 0px 12px;
                        border-radius: 25px;
                        font-size: 16px;
                        font-weight: 500;
                        color: $blue;
                        line-height: 30px;
                        background-color: #e6f1fd;
                    }
                }
            }
        }
        .cart-item__total {
            font-size: 18px;
            font-weight: 500;
            padding: 25px 25px 30px;
            background-color: #fff;
            text-align: end;
            span {
                margin-right: 30px;
            }
        }
        .cart-item__btn {
            display: flex;
            text-align: center;
            line-height: 60px;
            width: 100%;
             :first-child {
                background-color: #7347c1;
                border-bottom-left-radius: 2px;
            }
             :last-child {
                background-color: $blue;
                border-bottom-right-radius: 2px;
            }
            a {
                width: 50%;
                color: #fff;
            }
        }
    }
    .user-menu {
        position: absolute;
        background-color: #fff;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        top: 74px;
        left: -52px;
        z-index: 2;
        transition: all .4s;
        height: 0;
        overflow: hidden;
        width: 270px;
        padding: 0 20px;
        ul {
            li {
                position: relative;
                a {
                    transition: all .4s;
                    border-radius: 2px;
                    padding: 17px 48px;
                    width: 100%;
                    color: #54667a;
                    &::before {
                        position: absolute;
                        top: 14px;
                        left: 10px;
                        font-family: 'Linearicons-Free';
                        color: #54667a;
                    }
                    &:hover {
                        background-color: $blue;
                        color: #fff;
                        &::before {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
    .message-box,
    .cart-box,
    .notification-box {
        height: 90px;
        margin-top: 65px;
        margin-left: 32px;
        position: relative;
        &:hover {
            &::after {
                content: url(../images/header/arrow-up.png);
                top: 33px;
                z-index: 1;
                width: 18px;
                height: 10px;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
            }
        }
    }
    .notification-box {
        &:hover {
            &::after {
                left: -22px;
            }
            .notification-menu {
                height: auto;
                border-top: 1px solid $blue;
                overflow: auto;
                .notification-menu__top {
                    padding: 18px 25px;
                }
                .notification-menu__item {
                    padding: 20px 25px;
                }
            }
        }
    }
    .message-box {
        &:hover {
            &::after {
                left: -22px;
            }
            .message-menu {
                height: auto;
                border-top: 1px solid $blue;
                overflow: auto;
                .message-menu__top {
                    padding: 18px 25px;
                }
                .message-menu__item {
                    padding: 20px 25px;
                }
            }
        }
    }
    .cart-box {
        &:hover {
            &::after {
                left: -20px;
            }
            .cart-menu {
                height: auto;
                border-top: 1px solid $blue;
                overflow: auto;
                .cart-item {
                    padding: 25px;
                }
            }
        }
    }
    .user-box {
        position: relative;
        display: flex;
        height: 90px;
        margin: 40px 0px 0px 48px;
        &:hover {
            &::after {
                content: url(../images/header/arrow-up.png);
                top: 43px;
                left: 138px;
                z-index: 1;
                width: 18px;
                height: 10px;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
            }
            .user-menu {
                height: auto;
                border-top: 1px solid $blue;
                padding: 20px;
                overflow: auto;
            }
        }
    }
    .header__content-box {
        align-items: center;
        display: flex;
        a {
            &::before {
                font-family: 'Linearicons-Free';
                font-size: 20px;
                color: #7e8fa1;
            }
        }
    }
    .header__circle {
        position: relative;
        span {
            padding: 0px 3px;
            position: absolute;
            min-width: 26px;
            line-height: 22px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
            font-size: 14px;
            font-weight: 500;
            top: -13px;
        }
    }
    .lnr-alarm {
        span {
            background-color: #ff6a6c;
            left: 9px;
        }
    }
    .lnr-envelope {
        span {
            background-color: #62d03b;
            left: 11px;
        }
    }
    .lnr-cart {
        span {
            background-color: $blue;
            left: 13px;
        }
    }
    .header__content-avatar {
        height: 50px;
        min-width: 50px;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.header__bottom-inner {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.menu__btn {
    position: relative;
    display: none;
    &::before {
        position: absolute;
        top: -26px;
        font-family: 'Linearicons-Free';
        color: #333333;
        font-size: 40px;
    }
}

.header__menu-list {
    position: relative;
    display: inline-block;
    height: 60px;
    margin-top: 40px;
    &:hover {
        .menu__list-home,
        .menu__list-products,
        .menu__list-wordpress,
        .menu__list-pages {
            height: auto;
            overflow: auto;
            padding: 20px;
            border-top: 1px solid $blue;
        }
    }
    &+& {
        margin-left: 32px;
    }
    .list__main-link {
        text-transform: uppercase;
        a {
            font-weight: 500;
            color: #333333;
            &:hover {
                color: $blue;
            }
        }
    }
    .menu__list-home,
    .menu__list-products,
    .menu__list-wordpress {
        position: absolute;
        top: 50px;
        background-color: #fff;
        box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        transition: all .4s;
        padding: 0 20px;
        min-width: 270px;
        z-index: 2;
        height: 0;
        overflow: hidden;
        li {
            width: 100%;
            a {
                padding: 0px 10px;
                width: 100%;
                color: #54667a;
                line-height: 44px;
                &:hover {
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
    }
}

.menu__list-pages {
    width: 1140px;
    left: -465px;
    height: 610px;
    position: absolute;
    top: 50px;
    background-color: #fff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    transition: all .4s;
    padding: 0 20px;
    z-index: 2;
    height: 0;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between;
    .menu__list-pages-item {
        padding: 10px 20px;
        ul {
            li {
                display: inline-block;
                margin-bottom: 5px;
                a {
                    padding: 10px;
                    color: #54667a;
                    &:hover {
                        background-color: $blue;
                        color: #fff;
                    }
                }
            }
        }
        .menu__list-pages-title {
            padding: 0px 10px;
            font-size: 16px;
            font-weight: 500;
            line-height: 40px;
            padding-bottom: 12px;
            border-bottom: 1px solid #e8ebf0;
        }
    }
    .list__pages-martplace {
        max-width: 435px;
        li {
            margin-right: 15px;
        }
    }
    .list__pages-dashboard {
        max-width: 180px;
    }
    .list__pages-other {
        max-width: 415px;
        li {
            margin-right: 30px;
        }
    }
}

.header__bottom-search {
    height: 45px;
    max-width: 360px;
    width: 100%;
    position: relative;
    input {
        width: 100%;
        padding: 15px 72px 15px 22px;
        display: block;
        height: 45px;
        border: 1px solid #d9dfe5;
        border-radius: 31px;
        &:focus {
            outline: #898f96;
        }
        &::placeholder {
            color: #898f96;
        }
    }
    button {
        cursor: pointer;
        width: 70px;
        border: none;
        height: 100%;
        border-radius: 32px;
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: $blue;
    }
}

.header__btn--on {
    display: block;
}

.header__btn--off {
    display: none;
}


/* end header */


/* start product */

.product {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.product__inner {
    position: relative;
    min-height: 725px;
    text-align: center;
    color: #fff;
    &-title {
        padding-top: 170px;
        font-size: 60px;
        color: #fff;
        line-height: 72px;
        font-weight: 400;
        margin-bottom: 0;
        span {
            display: block;
            font-weight: 700;
        }
    }
    &-text {
        font-size: 20px;
        line-height: 72px;
    }
    &-link {
        margin-top: 55px;
        font-size: 16px;
        a {
            border-radius: 31px;
            border: 1px solid #fff;
            padding: 20px 30px;
            color: #fff;
            &+a {
                margin-left: 30px;
            }
            &:hover {
                color: $blue;
                background-color: #fff;
                transition: all .6s;
            }
        }
    }
    &-search {
        background-color: #fff;
        max-width: 1140px;
        position: absolute;
        bottom: -68px;
        left: 0;
        right: 0;
        margin: auto;
        height: 140px;
        display: flex;
        align-items: center;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        &::after {
            content: '';
            position: absolute;
            border-radius: 6px;
            height: 20px;
            max-width: 1110px;
            background-color: rgba(255, 255, 255, 0.5);
            left: 0;
            right: 0;
            bottom: 135px;
            margin: auto;
        }
        &::before {
            content: '';
            position: absolute;
            border-radius: 6px;
            height: 50px;
            max-width: 1080px;
            background-color: rgba(255, 255, 255, 0.5);
            left: 0;
            right: 0;
            bottom: 119px;
            margin: auto;
        }
        .search-form {
            height: 55px;
            line-height: 42px;
            font-size: 16px;
        }
        input {
            margin-left: 40px;
            margin-right: -5px;
            border: 1px solid #dcdcdc;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 0px 28px;
            width: 610px;
            &:focus {
                outline: #898f96;
            }
        }
        select {
            padding: 0px 16px;
            width: 200px;
            border: 1px solid #dcdcdc;
            border-bottom-right-radius: 4px;
            border-top-right-radius: 4px;
            border-left: 1px solid dcdcdc;
            &:focus {
                outline: #898f96;
            }
        }
        button {
            border-radius: 4px;
            margin-left: 30px;
            border: none;
            padding: 0px 65px;
            background-color: $blue;
            color: #fff;
        }
    }
}


/* end product */


/* start product buttom */

.product__buttom {
    padding: 185px 0px 100px;
    &-inner {
        display: flex;
        justify-content: space-between;
    }
    &-item {
        transition: all 0.25s;
        max-width: 360px;
        text-align: center;
        cursor: pointer;
        &:hover {
            box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
        }
    }
    &-image {
        margin: 40px auto 30px;
        width: 120px;
        height: 120px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .image1 {
        height: 121px;
    }
    .image2 {
        width: 123px;
        height: 130px;
    }
    &-title {
        padding-bottom: 15px;
        font-size: 24px;
        color: #000;
    }
    &-text {
        padding: 15px 35px;
        color: #555555;
        font-size: 16px;
        line-height: 30px;
        overflow: hidden;
    }
}


/* end product buttom */


/* start slider */

.slider {
    background-color: $grey;
    padding: 120px 0px;
}

.slider__title,
.title {
    font-size: 30px;
    padding: 38px 0px 38px 30px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    font-weight: 400;
}

.slider__item {
    max-height: 450px;
    margin-top: 50px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    &-image {
        float: left;
        margin-right: 50px;
        margin-bottom: -4px;
        a {
            width: 555px;
            height: 450px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    &-content {
        padding: 47px 47px 25px;
    }
    &-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    &-author {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
    }
    &-avatar {
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }
    &-name {
        a {
            color: #000;
            margin-right: 45px;
        }
    }
    &-wordpress {
        color: #9878d2;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/slider/wordpress.png);
            width: 16px;
            height: 16px;
            left: -25px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    &-category {
        a {
            color: #000;
            background-color: $grey;
            padding: 10px 15px;
            border-radius: 20px;
            margin-bottom: 25px;
            &+a {
                margin-left: 8px;
            }
        }
    }
    &-footer {
        align-items: center;
        border-top: 1px solid $grey;
        padding: 23px 0px;
        display: flex;
    }
    &-price {
        line-height: 30px;
        color: #fff;
        background-color: $blue;
        border-radius: 20px;
        padding: 1px 13px;
        margin-right: 45px;
    }
    &-like {
        position: relative;
        margin-right: 42px;
        &::before {
            content: '';
            position: absolute;
            left: -23px;
            width: 18px;
            height: 15px;
            background-image: url(../images/slider/heart.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &-cart {
        color: $blue;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: -23px;
            width: 14px;
            height: 15px;
            background-image: url(../images/slider/cart.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &-star {
        margin-left: auto;
    }
}

.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    width: 50px;
    height: 40px;
    background-color: #7347c1;
    border: none;
    outline: none;
    cursor: pointer;
}

.slick-prev {
    right: 65px;
    top: -75px;
    left: auto;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
}

.slick-next {
    right: 27px;
    top: -75px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}


/* slider end */


/* start release*/

.release {
    max-height: 1730px;
    background-color: #f6f7fb;
    padding: 120px 0px;
    &__inner-btn {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        padding: 30px;
        box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
        border-radius: 4px;
        background-color: #fff;
        margin-bottom: 50px;
        button {
            padding: 5px 20px;
            background-color: #f1f3f6;
            border-radius: 30px;
            border: none;
            outline: none;
            cursor: pointer;
            color: #747b86;
            line-height: 30px;
            &:hover {
                transition: all .6s;
                background-color: $blue;
                color: #fff;
            }
        }
    }
    &__buttom-btn {
        margin-top: 30px;
        text-align: center;
        button {
            cursor: pointer;
            padding: 21px 38px;
            color: #fff;
            background-color: $blue;
            border-radius: 25px;
            border: none;
            outline: none;
        }
    }
    &__inner-box {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.release__item {
    max-width: 361px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-bottom: 30px;
    &-inner {
        padding: 0px 30px;
    }
    .image-info {
        display: flex;
        justify-content: center;
        a {
            margin-top: 92px;
            display: none;
            border: 1px solid #fff;
            border-radius: 30px;
            padding: 10px 30px;
            line-height: 30px;
            font-weight: 500;
            background-color: transparent;
            color: #fff;
            &+a {
                margin-left: 10px;
            }
            &:hover {
                background-color: #fff;
                color: $blue;
            }
        }
    }
    &-image {
        min-height: 230px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 30px;
        &:hover {
            .image-info {
                a {
                    transition: all .6s;
                    display: initial;
                }
            }
        }
    }
    &-title {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 20px;
    }
    &-info {
        display: flex;
        align-items: center;
        margin-bottom: 27px;
    }
    &-avatar {
        width: 30px;
        height: 30px;
        margin-right: 6px;
    }
    &-author {
        a {
            color: #000;
            line-height: 30px;
            margin-right: 55px;
        }
    }
    &-plugin {
        color: #7347c1;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            background-image: url(../images/slider/wordpress.png);
            width: 16px;
            height: 16px;
            left: -25px;
        }
    }
    &-text {
        line-height: 30px;
        color: #555555;
        margin-bottom: 35px;
    }
    &-footer {
        display: flex;
        padding: 15px 30px;
        border-top: 1px solid #ececec;
        align-items: center;
    }
    &-price {
        color: $blue;
        background-color: #e6f1fd;
        font-weight: 500;
        line-height: 30px;
        padding: 0px 20px;
        border-radius: 25px;
        margin-right: 35px;
    }
    &-like {
        position: relative;
        color: #6f7d8d;
        &::before {
            content: '';
            position: absolute;
            left: -23px;
            width: 17px;
            height: 14px;
            background-image: url(../images/slider/heart.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
    &-cart {
        position: relative;
        margin-left: auto;
        color: $blue;
        &::before {
            content: '';
            position: absolute;
            left: -23px;
            width: 15px;
            height: 15px;
            background-image: url(../images/slider/cart.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    }
}


/*end release */


/* start statistic */

.statistic {
    max-height: 350px;
    background-color: #212225;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.statistic__item {
    text-align: center;
    width: 150px;
    margin: 90px 0px;
    .image-cover {
        height: 50px;
    }
    &-image {
        display: inline-block;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .image-case {
        width: 48px;
        height: 41px;
    }
    .text-case {
        color: #feb71d;
    }
    .image-cloud {
        width: 48px;
        height: 29px;
    }
    .text-cloud {
        color: #58c9e9;
    }
    .image-smile {
        width: 46px;
        height: 47px;
    }
    .text-smile {
        color: #77de51;
    }
    .image-user {
        width: 48px;
        height: 37px;
    }
    .text-user {
        color: #ff6a6d;
    }
    &-text {
        margin-top: 45px;
        font-size: 36px;
        line-height: 36px;
        span {
            font-size: 18px;
            color: #fff;
            display: block;
        }
    }
}


/* end statistic */


/* start choose */

.choose {
    padding: 120px 0px 90px;
    &-title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 25px;
        font-weight: 400;
        span {
            color: $blue;
        }
    }
    &-text {
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    &-inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.choose__item {
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    text-align: center;
    width: 365px;
    margin-bottom: 30px;
    &-box {
        padding: 0px 35px 90px 35px;
    }
    &-number {
        text-align: start;
        padding: 15px 0px 0px 15px;
        color: #e5ecfe;
        font-size: 48px;
    }
    &-image {
        height: 60px;
        display: inline-block;
        margin-bottom: 30px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-title {
        font-size: 24px;
        margin-bottom: 30px;
    }
    &-text {
        line-height: 30px;
        font-size: 16px;
    }
}


/* end choose */


/* start sell */

.sell {
    width: 100%;
    &-inner {
        display: flex;
        justify-content: center;
    }
}

.sell__item {
    padding: 80px 160px;
    text-align: center;
    color: #fff;
    &-image {
        height: 102px;
        margin-bottom: 50px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-title {
        font-size: 36px;
        margin-bottom: 25px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 35px;
    }
    &-btn {
        a {
            padding: 0px 20px;
            font-size: 16px;
            line-height: 55px;
            color: #7347c1;
            background-color: #fff;
            outline: none;
            border: none;
            border-radius: 30px;
        }
    }
}

.sell__item2 {
    width: 100%;
    background-image: url(../images/sell/bg2.jpg);
}

.sell__item1 {
    width: 100%;
    background-image: url(../images/sell/bg1.jpg);
}


/* end sell */


/* start feedback */

.feedback {
    padding: 120px 0px;
    &__content {
        text-align: center;
        &-title {
            font-size: 36px;
            margin-bottom: 25px;
            font-weight: 400;
            span {
                color: $blue;
            }
        }
        &-text {
            font-size: 16px;
            line-height: 30px;
            margin-bottom: 45px;
        }
        &-inner {
            display: flex;
            justify-content: space-between;
        }
        &-btn {
            margin-top: 60px;
            a {
                padding: 0px 20px;
                font-size: 16px;
                line-height: 55px;
                border-radius: 30px;
                background-color: $blue;
                color: #fff;
            }
        }
    }
}

.feedback__item {
    padding: 45px 40px;
    border-left: 2px solid $blue;
    max-width: 555px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    text-align: start;
    &+& {
        margin-left: 30px;
    }
    &-top {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 25px;
        &::after {
            content: '';
            position: absolute;
            background-image: url(../images/feedback/bubble.png);
            width: 57px;
            height: 52px;
            margin-right: auto;
            right: 0;
        }
    }
    &-avatar {
        width: 80px;
        height: 80px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 50%;
    }
    &-author {
        margin-left: 20px;
        font-size: 20px;
        span {
            margin-top: 10px;
            display: block;
            font-size: 16px;
        }
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
    }
}


/* end feedback */


/* start news */

.news {
    padding: 120px 0;
    background-color: $grey;
    text-align: center;
    &__title {
        font-size: 36px;
        margin-bottom: 25px;
        span {
            color: $blue;
        }
    }
    &__text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 50px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.news__item {
    min-height: 475px;
    max-width: 361px;
    width: 100%;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    &+.news__item {
        margin-left: 30px;
    }
    &-image {
        height: 230px;
        margin-bottom: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    &-box {
        padding: 0px 27px;
        text-align: start;
        min-height: 185px;
    }
    &-title {
        font-weight: 500;
        font-size: 22px;
        margin-bottom: 23px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &-footer {
        line-height: 30px;
        display: flex;
        align-items: center;
        padding: 8px 27px;
        border-top: 1px solid #ececec;
    }
    &-date {
        position: relative;
        padding: 13px 50px 13px 24px;
        border-right: 1px solid #ececec;
        &::before {
            content: "\e864";
            font-family: 'Linearicons-Free';
            position: absolute;
            color: $blue;
            left: 0;
        }
    }
    &-comment {
        position: relative;
        padding: 13px 23px 13px 56px;
        &::before {
            content: "\e83f";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: 34px;
            color: #7e7e7e;
        }
    }
    &-view {
        position: relative;
        padding: 13px 0px 13px 23px;
        &::before {
            content: "\e81b";
            font-family: 'Linearicons-Free';
            position: absolute;
            color: #7e7e7e;
            left: 0;
        }
    }
}


/* end news */


/* start service */

.service {
    &__inner {
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
}

.service__item-guarantee {
    border-right: 1px solid #e8eaf3;
    .service__item-image {
        width: 152px;
    }
    .service__item-text {
        span,
        a {
            color: $blue;
        }
    }
}

.service__item-support {
    .service__item-image {
        width: 159px;
    }
    .service__item-text {
        span {
            color: #7347c1;
        }
    }
}

.service__item {
    padding: 60px 135px;
    &-image {
        display: inline-block;
        height: 121px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &-text {
        margin-top: 31px;
        font-size: 24px;
    }
}


/* end service */


/* start join */

.join {
    background-image: url(../images/join/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 110px 0px;
    text-align: center;
    &__title {
        color: #fff;
        font-size: 36px;
        margin-bottom: 35px;
    }
    &__text {
        color: #fff;
        font-size: 18px;
        margin-bottom: 50px;
    }
    &__btn {
        a {
            font-size: 16px;
            border-radius: 30px;
            padding: 20px 43px;
            background-color: #fff;
            color: $blue;
        }
    }
}


/* end join */


/* start footer */

.footer {
    color: #999999;
    &__content {
        background-color: #262b30;
        padding: 120px 0px;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.footer__col1 {
    max-width: 290px;
}

.footer__col2 {
    max-width: 150px;
}

.footer__col3 {
    max-width: 280px;
    form {
        position: relative;
        margin-top: 30px;
        margin-bottom: 45px;
        input {
            border: none;
            outline: none;
            border-radius: 30px;
            padding: 5px 25px;
            height: 50px;
            width: 100%;
            line-height: 28px;
            &::placeholder {
                color: #ababab;
            }
        }
        button {
            border-radius: 30px;
            padding: 5px 25px;
            position: absolute;
            color: #fff;
            background-color: $blue;
            height: 50px;
            border: none;
            outline: none;
            bottom: 0;
            right: 0;
        }
    }
}

.footer__col {
    width: 100%;
    &-logo {
        width: 163px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 25px;
    }
    &-title {
        color: #fff;
        font-size: 18px;
        line-height: 42px;
        margin-bottom: 25px;
    }
    &-text {
        line-height: 28px;
    }
    &-info {
        line-height: 26px;
        margin-top: 25px;
        padding-left: 30px;
        a {
            display: block;
            color: #999999;
        }
    }
    &-phone {
        position: relative;
        &::before {
            content: "\e831";
            font-family: 'Linearicons-Free';
            position: absolute;
            color: #fff;
            left: -30px;
            font-size: 16px;
        }
    }
    &-mail {
        position: relative;
        &::before {
            content: "\e818";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: -30px;
            color: #fff;
            font-size: 16px;
        }
    }
    &-adress {
        position: relative;
        &::before {
            content: "\e833";
            font-family: 'Linearicons-Free';
            position: absolute;
            left: -30px;
            color: #fff;
            font-size: 16px;
        }
    }
}

.footer__col-list {
    li {
        display: inline-block;
        line-height: 32px;
        a {
            color: #999999;
        }
    }
}

.footer__social-links {
    display: flex;
    justify-content: space-between;
    li {
        display: inline-block;
    }
    a {
        width: 42px;
        height: 42px;
        background-image: url(../images/footer/sprites.png);
    }
}

.link-facebook {
    background-position: -42px 0;
}

.link-google {
    background-position: -84px -42px;
}

.link-red {
    background-position: 0 -42px;
}

.link-indid {
    background-position: -42px -42px;
}

.link-ball {
    background-position: -84px 0;
}

.footer__bottom {
    background-color: #192027;
    padding: 40px 0px;
    text-align: center;
    &-text {
        span,
        a {
            color: #fff;
        }
    }
}


/* footer end */


/* start category-page search */

.category__page-search {
    background-image: url(../images/category-search/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 85px 0px 30px;
}

.category__page-inner {
    text-align: center;
}

.category__page-title {
    color: #f3f3f8;
    font-size: 26px;
    margin-bottom: 30px;
    span {
        font-weight: 500;
    }
}

.category__page-form {
    form {
        position: relative;
        margin: 0 auto;
        max-width: 555px;
        margin-bottom: 35px;
        input {
            width: 100%;
            height: 55px;
            display: block;
            padding: 20px 130px 20px 30px;
            border: none;
            border-radius: 30px;
            outline: none;
            &::placeholder {
                color: #747b86;
            }
        }
        button {
            background-color: $blue;
            color: #fff;
            padding: 20px 31px;
            height: 55px;
            position: absolute;
            top: 0;
            right: -1px;
            border-radius: 30px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }
}

.breadcrumbs {
    &__list {
        li {
            position: relative;
            display: inline-block;
            &+li {
                a,
                /* прописали еще и спану цвет, вдруг бэкэндер поменяет ссылку на спан, потому что некоторые так делают */
                span {
                    color: #bfcad7;
                }
                margin-left: 13px;
                &::before {
                    content: '/';
                    color: #fff;
                    position: absolute;
                    outline: none;
                    left: -12px;
                }
            }
        }
        a,
        /* прописали еще и спану цвет, вдруг бэкэндер поменяет ссылку на спан, потому что некоторые так делают */
        span {
            color: #fff;
        }
    }
}


/* end category__page-search */


/* start category page */

.category__page {
    background-color: rgb(239, 241, 245);
    .category__page-header {
        box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
        padding: 28px 0px;
        background-color: #fff;
        .category__header-inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .category__header-btn {
                button {
                    border: none;
                    outline: none;
                    cursor: pointer;
                    color: #555555;
                    font-size: 16px;
                    background-color: #fff;
                    &+button {
                        margin-left: 50px;
                    }
                }
                .mixitup-control-active {
                    color: $blue;
                }
            }
            .category__header-arrange {
                margin-left: auto;
                margin-right: 30px;
                form {
                    display: flex;
                    select {
                        font-size: 14px;
                        color: #747b86;
                        height: 42px;
                        padding: 0 19px;
                        width: 220px;
                        border-radius: 3px;
                        border: 1px solid #eceff2;
                        outline: none;
                        &+select {
                            margin-left: 30px;
                        }
                    }
                }
            }
            .category__header-sort {
                font-family: 'Linearicons-Free';
                height: 42px;
                width: 95px;
                border-radius: 3px;
                border: 1px solid #eceff2;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                .active {
                    color: $blue;
                }
                button {
                    padding: 5px;
                    color: #747b86;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #fff;
                }
            }
        }
    }
    .category__page-inner {
        padding: 80px 0px 120px;
        display: flex;
    }
    .category__page-aside {
        margin-right: 30px;
        .aside__item {
            width: 265px;
            text-align: start;
            border-radius: 4px;
            box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
            padding: 0px 30px 30px 30px;
            background-color: #fff;
            &+.aside__item {
                margin-top: 30px;
            }
            &-title {
                font-size: 20px;
                line-height: 70px;
                border-bottom: 1px solid #e7ebee;
                position: relative;
                &::after {
                    content: "\e874";
                    font-family: 'Linearicons-Free';
                    position: absolute;
                    right: 3px;
                    top: 2px;
                    height: 13px;
                    width: 8px;
                    font-size: 10px;
                    color: #010101;
                }
            }
            &-list {
                padding-top: 12px;
                li {
                    display: flex;
                    padding-left: 20px;
                    justify-content: space-between;
                    align-items: center;
                    position: relative;
                    &::before {
                        content: "\e876";
                        font-family: 'Linearicons-Free';
                        position: absolute;
                        left: 0;
                        height: 11px;
                        width: 6px;
                        font-size: 10px;
                        color: #747b86;
                    }
                    a {
                        padding: 12px 0px;
                        color: #555555;
                    }
                    span {
                        color: #747b86;
                    }
                }
            }
            .aside__list-ellipse {
                li {
                    position: relative;
                    &::before {
                        content: '';
                        width: 10px;
                        height: 10px;
                        border: 1px solid #7b818c;
                        border-radius: 50%;
                    }
                }
            }
        }
        .price-range {
            form {
                text-align: center;
                button {
                    margin-top: 70px;
                    padding: 15px 30px;
                    background-color: $blue;
                    color: #fff;
                    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.1);
                    font-weight: 500px;
                    border: none;
                    border-radius: 30px;
                    outline: none;
                    cursor: pointer;
                }
            }
        }
    }
    .irs--flat .irs-bar {
        height: 6px;
        background-color: #7347c1;
    }
    .irs--flat .irs-handle>i:first-child {
        top: -3px;
        left: 2%;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        border: 4px solid #0674ec;
        background-color: #fff;
    }
    .irs--flat .irs-from,
    .irs--flat .irs-single,
    .irs--flat .irs-to {
        color: #7347c1;
        font-size: 15px;
        line-height: 20px;
        padding: 8px 29px;
        background-color: #f1ecf9;
        border-radius: 15px;
    }
    .irs-from,
    .irs-single,
    .irs-to {
        top: 50px;
    }
    .irs--flat .irs-line {
        height: 6px;
    }
    .irs--flat .irs-from:before,
    .irs--flat .irs-single:before,
    .irs--flat .irs-to:before {
        display: none;
    }
}

.category__page-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .release__item {
        max-width: 263px;
        text-align: start;
        max-height: 490px;
        .release__item-inner {
            padding: 0px 20px 15px 20px;
        }
        .jq-ry-container {
            padding: 0;
        }
        .release__item-image {
            height: 160px;
        }
        .release__item-like,
        .release__item-text {
            display: none;
        }
        .release__item-footer {
            padding: 15px;
            justify-content: space-between;
        }
        .release__item-author {
            a {
                margin: 0;
            }
        }
        .lnr-cart {
            float: right;
            display: inline-block;
            font-family: 'Linearicons-Free';
            color: $blue;
            span {
                margin-left: 5px;
            }
        }
        .slider__item-star {
            display: inline-block;
        }
        .image-info {
            display: none;
        }
    }
}


/* start pagination */

.pagination {
    text-align: end;
    &__list {
        font-size: 16px;
        li {
            display: inline-block;
            &:last-child {
                margin-left: 20px;
            }
            &:first-child {
                margin-right: 20px;
            }
            a,
            span {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 38px;
                width: 50px;
                font-weight: 500;
                color: #747b86;
                background-color: #fff;
                border-radius: 50%;
                &.active {
                    background-color: $blue;
                    color: #fff;
                }
            }
        }
        .lnr-arrow-right,
        .lnr-arrow-left {
            font-family: 'Linearicons-Free';
            color: #000;
            &.active {
                color: #fff;
                background-color: #7347c1;
            }
        }
    }
}


/* end pagination */


/* start category-page */

.category__page-item {
    text-align: start;
    max-width: 262px;
    /* max-height: 372px; */
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    border-radius: 4px;
    margin-bottom: 30px;
    transition: all .6s;
    .category__page-item-image {
        height: 160px;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .category__page-item-inner {
        padding: 20px 0px 15px 0px;
        .category__page-item-descr {
            padding: 0px 20px;
            .category__page-item-plugin {
                display: none;
            }
            .category__page-item-title {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 12px;
            }
            .category__page-item-text {
                display: none;
            }
        }
        .category__page-item-info {
            padding: 0px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            .category__page-item-avatar {
                width: 28px;
                height: 28px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            .category__page-item-author {
                margin-left: 6px;
                line-height: 30px;
            }
            .lnr-heart,
            .lnr-bubble {
                font-family: 'Linearicons-Free';
                display: none;
            }
            .category__page-item-star-wrapper {
                width: 100%;
                margin-top: 15px;
                padding-bottom: 20px;
                span {
                    display: none;
                }
                .category__page-item-star {
                    display: inline-block;
                    padding: 0;
                }
                .lnr-cart {
                    font-family: 'Linearicons-Free';
                    color: $blue;
                    display: inline-block;
                    float: right;
                    span {
                        display: inline-block;
                        margin-left: 5px;
                    }
                }
            }
        }
        .category__page-item-details {
            border-top: 1px solid #ececec;
            padding: 15px 20px 0 20px;
            display: flex;
            align-items: center;
            .category__page-item-price {
                span {
                    border-radius: 25px;
                    line-height: 30px;
                    font-weight: 500;
                    color: $blue;
                    padding: 3px 20px;
                    background-color: #e6f1fd;
                }
            }
            .category__page-item-plugin {
                margin-left: auto;
                padding-left: 20px;
            }
            .lnr-cart {
                display: none;
            }
        }
        .category__page-item-plugin {
            color: #7347c1;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                background-image: url(../images/slider/wordpress.png);
                width: 16px;
                height: 16px;
                left: 0;
            }
        }
    }
}

.category__page-item {
    &.list {
        width: 100%;
        max-width: 100%;
        .category__page-item-image {
            width: 230px;
            float: left;
            min-height: 100%;
        }
        .category__page-item-inner {
            display: flex;
            padding: 30px 0px;
            .category__page-item-descr {
                border-right: 1px solid #ececec;
                max-width: 230px;
                width: 100%;
                padding-right: 20px;
                .category__page-item-plugin {
                    display: block;
                    padding-left: 20px;
                }
                .category__page-item-text {
                    display: block;
                    font-size: 16px;
                    line-height: 25px;
                    overflow: hidden;
                    margin-bottom: 20px;
                }
            }
            .category__page-item-info {
                border-right: 1px solid #ececec;
                padding: 0px 20px;
                .lnr-heart,
                .lnr-bubble {
                    font-family: 'Linearicons-Free';
                    display: block;
                    color: #7f4ec2;
                    width: 100%;
                    span,
                    a {
                        font-family: 'Quicksand';
                        padding-left: 5px;
                        color: #6f7d8d;
                    }
                }
                .category__page-item-star-wrapper {
                    display: flex;
                    padding: 0;
                    align-items: center;
                    span {
                        margin-left: 10px;
                        line-height: 30px;
                        color: #6f7d8d;
                    }
                    .lnr-cart {
                        display: none;
                    }
                }
            }
            .category__page-item-details {
                display: flex;
                padding: 0px 20px;
                border: none;
                flex-direction: column;
                justify-content: space-evenly;
                .lnr-cart {
                    font-family: 'Linearicons-Free';
                    color: $blue;
                    display: block;
                    span {
                        margin-left: 10px;
                    }
                }
            }
            .category__page-item-plugin {
                display: none;
            }
        }
    }
}


/* end category-page */

@import 'media';