    @import 'vars';
    @import 'global';
    .header__top {
        background-color: $bg;
    }
    
    .header__top-inner {
        display: flex;
        justify-content: space-between;
        height: 100px;
        align-items: center;
    }
    
    .header__content-link {
        position: relative;
        width: 140px;
        margin-left: auto;
        margin-right: 48px;
        background-color: $blue;
        border-radius: 25px;
        a {
            padding: 11px 16px;
            color: #fff;
            font-size: 14px;
        }
    }
    
    .header__content-user {
        margin-left: 20px;
        font-weight: 500;
        line-height: 22px;
        font-size: 16px;
        color: #333333;
        span {
            display: block;
            color: #0674ec;
            font-weight: 400;
        }
    }
    
    .header__content-nots {
        margin-right: 48px;
        a+a {
            margin-left: 32px;
        }
    }
    
    .header__bottom-inner {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
    }
    
    .menu__list {
        li {
            text-transform: uppercase;
            display: inline-block;
            font-weight: 500;
            &+li {
                margin-left: 32px;
                a {
                    font-size: 15px;
                    color: #333333;
                }
            }
        }
    }
    
    .header__bottom-search {
        height: 45px;
        max-width: 360px;
        width: 100%;
        position: relative;
        input {
            width: 100%;
            padding: 15px 72px 15px 22px;
            display: block;
            height: 45px;
            font-size: 15px;
            border: 1px solid #d9dfe5;
            border-radius: 31px;
            &:focus {
                outline: #898f96;
            }
            &::placeholder {
                color: #898f96;
            }
        }
        button {
            width: 70px;
            border: none;
            height: 100%;
            border-radius: 32px;
            position: absolute;
            top: 0px;
            right: 0px;
            background-color: $blue;
        }
    }
    
    .product {
        background-color: #294dcf;
    }
    
    .product__inner {
        position: relative;
        min-height: 725px;
        text-align: center;
        color: #fff;
        &-title {
            padding-top: 170px;
            font-size: 60px;
            color: #fff;
            line-height: 72px;
            span {
                display: block;
                font-weight: 700;
            }
        }
        &-text {
            font-size: 20px;
            line-height: 72px;
        }
        &-link {
            padding-top: 20px;
            font-size: 16px;
            a {
                border-radius: 31px;
                border: 1px solid #fff;
                padding: 20px 30px;
                color: #fff;
                &+a {
                    margin-left: 30px;
                }
                &:hover {
                    color: $blue;
                    background-color: #fff;
                    transition: all .6s;
                }
            }
        }
        &-rectang1 {
            border-radius: 6px;
            height: 37px;
            max-width: 1080px;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 60px;
            margin: auto;
        }
        &-rectang2 {
            border-radius: 6px;
            height: 17px;
            max-width: 1110px;
            background-color: rgba(255, 255, 255, 0.5);
            position: absolute;
            left: 0;
            right: 0;
            bottom: 67px;
            margin: auto;
        }
        &-search {
            background-color: #fff;
            max-width: 1140px;
            width: 100%;
            position: absolute;
            bottom: -68px;
            left: 0;
            right: 0;
            margin: auto;
            height: 140px;
            display: flex;
            align-items: center;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
            border-radius: 6px;
            input {
                margin-left: 40px;
                border: 1px solid #dcdcdc;
                border-radius: 4px;
                padding: 18px 265px 18px 28px;
                width: 610px;
                &:focus {
                    outline: #898f96;
                }
            }
            select {
                padding: 17px;
                width: 200px;
                border: 1px solid #dcdcdc;
                border-radius: 4px;
                &:focus {
                    outline: #898f96;
                }
            }
            button {
                border-radius: 4px;
                margin-left: 30px;
                border: none;
                top: 20px;
                right: 20px;
                padding: 20px 65px;
                background-color: $blue;
                color: #fff;
            }
        }
    }